$width-content: 1081px;
$color-primary: #3E8EBB;
$button-hover-type: 'darken';
$button-hover-amount: 10%;
$spacer: 3rem;

$color-primary: #003950;
$color-white: #FFF;
$color-ligth: #f3f3f3;

$theme-colors: () !default;
$theme-colors: map_merge(
                (
                        "primary": $color-primary,
                        "white": $color-white,
                        "ligth": $color-ligth,
                ), $theme-colors
);

$theme-weigh: () !default;
$theme-weigh: map_merge(
                (
                        "100": 100,
                        "200": 200,
                        "300": 300,
                        "400": 400,
                        "500": 500,
                        "600": 600,
                        "700": 700,
                        "800": 800,
                        "900": 900,
                        "bold": bold,
                        "bolder": bolder,
                ), $theme-weigh
);

$spacer-total: () !default;
$spacer-total: map_merge(
                (
                        "0": 0,
                        "1": $spacer*0.25,
                        "2": $spacer*0.5,
                        "3": $spacer,
                        "4": $spacer*1.25,
                        "5": $spacer*2,
                        "auto": auto,
                ), $spacer-total
)