@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'Open Sans', sans-serif; }

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 10vh calc(120% - 15vh) 5vh;
  grid-template-areas: "h h" "m m" "f f"; }
  .container header {
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "logo menu"; }
    .container header .logo {
      grid-area: logo;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container header .menu {
      grid-area: menu; }
      .container header .menu .itens {
        grid-area: itens; }
  .container main {
    grid-area: m;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 50% 50%;
    grid-template-areas: "fazemos fazemos" "somos fale"; }
    .container main .oq_fazemos {
      grid-area: fazemos; }
    .container main .qm_somos {
      grid-area: somos; }
    .container main .fale_conosoco {
      grid-area: fale; }
  .container aside {
    grid-area: a; }
  .container footer {
    grid-area: f; }

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #666;
  color: #FFF;
  font-size: 1em;
  outline: none;
  border: 0;
  cursor: pointer; }
  .btn:hover {
    background-color: #4d4d4d; }

.btn-primary {
  background-color: #003950;
  color: #FFFFFF; }
  .btn-primary:hover {
    background-color: #00151d; }

.btn-white {
  background-color: #FFF;
  color: #FFFFFF; }
  .btn-white:hover {
    background-color: #e6e6e6; }

.btn-ligth {
  background-color: #f3f3f3;
  color: #FFFFFF; }
  .btn-ligth:hover {
    background-color: #dadada; }

.title-primary {
  color: #003950; }

.title-white {
  color: #FFF; }

.title-ligth {
  color: #f3f3f3; }

.title-100 {
  font-weight: 100; }

.title-200 {
  font-weight: 200; }

.title-300 {
  font-weight: 300; }

.title-400 {
  font-weight: 400; }

.title-500 {
  font-weight: 500; }

.title-600 {
  font-weight: 600; }

.title-700 {
  font-weight: 700; }

.title-800 {
  font-weight: 800; }

.title-900 {
  font-weight: 900; }

.title-bold {
  font-weight: bold; }

.title-bolder {
  font-weight: bolder; }

.p-0, .pb-0, .py-0 {
  padding-bottom: 0; }

.p-0, .pt-0, .py-0 {
  padding-top: 0; }

.p-0, .pl-0, .px-0 {
  padding-left: 0; }

.p-0, .pr-0, .px-0 {
  padding-right: 0; }

.m-0, .mb-0, .my-0 {
  margin-bottom: 0; }

.m-0, .mt-0, .my-0 {
  margin-top: 0; }

.m-0, .ml-0, .mx-0 {
  margin-left: 0; }

.m-0, .mr-0, .mx-0 {
  margin-right: 0; }

.p-1, .pb-1, .py-1 {
  padding-bottom: 0.75rem; }

.p-1, .pt-1, .py-1 {
  padding-top: 0.75rem; }

.p-1, .pl-1, .px-1 {
  padding-left: 0.75rem; }

.p-1, .pr-1, .px-1 {
  padding-right: 0.75rem; }

.m-1, .mb-1, .my-1 {
  margin-bottom: 0.75rem; }

.m-1, .mt-1, .my-1 {
  margin-top: 0.75rem; }

.m-1, .ml-1, .mx-1 {
  margin-left: 0.75rem; }

.m-1, .mr-1, .mx-1 {
  margin-right: 0.75rem; }

.p-2, .pb-2, .py-2 {
  padding-bottom: 1.5rem; }

.p-2, .pt-2, .py-2 {
  padding-top: 1.5rem; }

.p-2, .pl-2, .px-2 {
  padding-left: 1.5rem; }

.p-2, .pr-2, .px-2 {
  padding-right: 1.5rem; }

.m-2, .mb-2, .my-2 {
  margin-bottom: 1.5rem; }

.m-2, .mt-2, .my-2 {
  margin-top: 1.5rem; }

.m-2, .ml-2, .mx-2 {
  margin-left: 1.5rem; }

.m-2, .mr-2, .mx-2 {
  margin-right: 1.5rem; }

.p-3, .pb-3, .py-3 {
  padding-bottom: 3rem; }

.p-3, .pt-3, .py-3 {
  padding-top: 3rem; }

.p-3, .pl-3, .px-3 {
  padding-left: 3rem; }

.p-3, .pr-3, .px-3 {
  padding-right: 3rem; }

.m-3, .mb-3, .my-3 {
  margin-bottom: 3rem; }

.m-3, .mt-3, .my-3 {
  margin-top: 3rem; }

.m-3, .ml-3, .mx-3 {
  margin-left: 3rem; }

.m-3, .mr-3, .mx-3 {
  margin-right: 3rem; }

.p-4, .pb-4, .py-4 {
  padding-bottom: 3.75rem; }

.p-4, .pt-4, .py-4 {
  padding-top: 3.75rem; }

.p-4, .pl-4, .px-4 {
  padding-left: 3.75rem; }

.p-4, .pr-4, .px-4 {
  padding-right: 3.75rem; }

.m-4, .mb-4, .my-4 {
  margin-bottom: 3.75rem; }

.m-4, .mt-4, .my-4 {
  margin-top: 3.75rem; }

.m-4, .ml-4, .mx-4 {
  margin-left: 3.75rem; }

.m-4, .mr-4, .mx-4 {
  margin-right: 3.75rem; }

.p-5, .pb-5, .py-5 {
  padding-bottom: 6rem; }

.p-5, .pt-5, .py-5 {
  padding-top: 6rem; }

.p-5, .pl-5, .px-5 {
  padding-left: 6rem; }

.p-5, .pr-5, .px-5 {
  padding-right: 6rem; }

.m-5, .mb-5, .my-5 {
  margin-bottom: 6rem; }

.m-5, .mt-5, .my-5 {
  margin-top: 6rem; }

.m-5, .ml-5, .mx-5 {
  margin-left: 6rem; }

.m-5, .mr-5, .mx-5 {
  margin-right: 6rem; }

.p-auto, .pb-auto, .py-auto {
  padding-bottom: auto; }

.p-auto, .pt-auto, .py-auto {
  padding-top: auto; }

.p-auto, .pl-auto, .px-auto {
  padding-left: auto; }

.p-auto, .pr-auto, .px-auto {
  padding-right: auto; }

.m-auto, .mb-auto, .my-auto {
  margin-bottom: auto; }

.m-auto, .mt-auto, .my-auto {
  margin-top: auto; }

.m-auto, .ml-auto, .mx-auto {
  margin-left: auto; }

.m-auto, .mr-auto, .mx-auto {
  margin-right: auto; }

.bg-primary {
  background-color: #003950; }

.bg-white {
  background-color: #FFF; }

.bg-ligth {
  background-color: #f3f3f3; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; }
  .container header {
    background-color: #003950; }
    .container header .logo a {
      text-decoration: none; }
    .container header .itens ul {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .container header .itens ul li {
        list-style: none;
        margin-right: 5px; }
        .container header .itens ul li .nav-link {
          padding: 8px 32px;
          text-decoration: none; }
          .container header .itens ul li .nav-link:hover {
            background-color: #FFF;
            color: #003950; }
        .container header .itens ul li .active {
          background-color: #FFF;
          color: #003950; }
  .container main .oq_fazemos .services {
    display: flex;
    justify-content: space-evenly; }
    .container main .oq_fazemos .services .btn-service {
      display: block;
      height: 100px;
      width: 100px;
      padding: 20px;
      border: solid 1px black;
      cursor: pointer; }
      .container main .oq_fazemos .services .btn-service:hover {
        background-color: #e6e6e6; }
      .container main .oq_fazemos .services .btn-service img {
        width: 100px;
        height: 100px; }
  .container main .qm_somos .toggle_text {
    color: #003950;
    cursor: pointer;
    font-weight: 900; }
    .container main .qm_somos .toggle_text:hover {
      text-decoration: underline; }
  .container main form {
    width: 100%;
    padding: 15px;
    border-radius: 15px; }
    .container main form label {
      margin-top: 2px;
      font-size: 15px;
      color: #666; }
    .container main form .inputUser {
      display: flex;
      justify-content: end;
      border-radius: 5px;
      padding: 5px;
      width: 100%;
      margin: 5px;
      border: solid 1px #cecece; }
  .container footer {
    font-size: 12px;
    display: flex;
    justify-content: center; }

/*# sourceMappingURL=app.css.map */
